@model List<WordsmithWarehouse.Models.BookViewModel>

@{
    ViewData["Title"] = "SearchBooks";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
    <div id="bookSearch">
        <div class="row justify-content-center">
            <div class="col-8">
                <div style="padding-bottom: 70px; padding-top: 40px;">
                    <input id="myInput" class="form-control" type="text" placeholder="Search for a book..." style="width: 100%;" v-model="filter">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h1 style="text-align: center">Filters</h1>

                <div v-for="i in userFilters">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group">
                                <input type="checkbox" aria-label="Checkbox for following text input" v-on:change="onTagCheckboxClicked(i.id)">
                            </div>
                        </div>
                        &thinsp;&thinsp; {{i.name}}
                    </div>
                </div>
            </div>
            <div class="col" v-for="i in filteredBooks">
                <div class="item" v-on:click="onBookClick(i.id)">
                    <div class="item-content">
                        <a><img alt="Image" :src="getBookImage(i.imageURL)" style="width:200px;height:150px;max-width:100%;height:auto" id="bookImage"></a>
                        <div class="book-title">
                            <a style="color:black">{{i.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    //$(document).ready(function () {
    //    $("#myInput").on("keyup", function () {
    //        var value = $(this).val().toLowerCase();
    //        $(".item").filter(function () {
    //            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
    //        });
    //    });
    //});

    
    var TagsJson = @Html.Raw(Json.Serialize(Model[0].Tags));
    var BooksJson = @Html.Raw(Json.Serialize(Model));
</script>

@section Scripts{
    <script src="~/js/BookSearch.js"></script>

        
}

