@model MainShelfViewModel

@{
    ViewData["Title"] = "Index";
}


<div id="shelfIndex">
    <div class="row" style="padding-left:45px; padding-top:15px">
        <h1>Shelves</h1>

        <p>
            <a asp-action="Create" class="btn btn-success" style="margin-left: 30px;">+</a>
        </p>
    </div>
    <hr/>

    <div v-for="i in shelves">
        <div class="row" style="border:3px; border-style:initial; margin:auto">  
           <div class="col">
                {{ i.name }}
           </div>
            <div class="col">
                {{  getShelvesCount(i.books) }}
            </div>
            
        </div>
        <div class="row" v-for="j in i.books">
            <div class="item" v-on:click="onBookClick(j.id)">
                <div class="item-content">
                    <a><img alt="Image" :src="j.imageURL" style="width:200px;height:150px;max-width:100%;height:auto" id="bookImage" v-model="j.id"></a>
                    <div class="book-title">
                        <a style="color:black" v-model="i.id">{{j.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section scripts{
   
    <script>
        var shelfData = @Html.Raw(Json.Serialize(Model.shelves));
    </script>

    <script src="~/js/ShelvesIndex.js"></script>
}
