<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Wordsmith Warehouse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="~/tinywhite.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    @*<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>

</head>

<body>
    <header style="background-color: #96a2b2">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid align-content-center">
                <div class="col-3">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/logogray.png" alt="Wordsmith Warehouse" width="150" height="50">
                    </a>
                </div>
                <div class="col-6">
                    <div class="row justify-content-between">
                        <a class="navbutton"><i class="fas fa-map-marker-alt" style="color: #ffffff;"></i> Locations</a>
                        <a class="navbutton" asp-controller="Books" asp-action="Details"><i class="fas fa-random" style="color: #ffffff;"></i> Random Book</a>
                        <a class="navbutton" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fas fa-headset" style="color: #ffffff;"></i> Contact us</a>
                        <a class="navbutton" asp-area="" asp-controller="Home" asp-action="About"><i class="fas fa-info" style="color: #ffffff;"></i> About us</a>
                        <div class="dropdown">
                            <button class="socialButton" data-toggle="dropdown"><i class="fas fa-share-alt" style="color:#ffffff"></i> Socials</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="fab fa-facebook-f" style="color:#96a2b2"></i> Facebook</a>
                                <a href="#" class="dropdown-item"><i class="fab fa-instagram" style="color:#96a2b2"></i> Instragram</a>
                                <a href="#" class="dropdown-item"><i class="fab fa-tiktok" style="color:#96a2b2"></i> TikTok</a>
                                <a href="#" class="dropdown-item"><i class="fab fa-youtube" style="color:#96a2b2"></i> Youtube</a>
                            </div>
                        </div>
                        <a class="navbutton" asp-area="" asp-controller="Books" asp-action="SearchBooks"><i class="fas fa-search" style="color: white;"></i></a>
                    </div>
                </div>
                <div class="col-3">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="row float-right">
                            <div class="nav-item">
                                <a class="navbutton" asp-controller="Leases" asp-action="UserLeases" type="button"><i class="fas fa-shopping-basket" style="color: #ffffff;"></i></a>
                            </div>
                            <div class="dropdown nav-item">
                                <button style="border: 0; background-color: transparent; outline:0;" data-toggle="dropdown">
                                    <img src="@Url.Action("GetImage", "Account")" alt="image" class="rounded-circle" style="max-width: 50px; max-height: 50px; margin-bottom: 10px">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right ">
                                    <a class="userbuttons nav-link text-dark dropdown-item" asp-area="" asp-controller="account" asp-action="changeuser"><i class="fas fa-user" style="color:#96a2b2"></i> &thinsp;@this.User.Identity.Name</a>
                                    <a class="nav-link text-dark" asp-controller="Shelves" asp-action="Index"><i class="fas fa-bookmark" style="color:#96a2b2"></i> Shelves</a>
                                    <a class="userbuttons nav-link text-dark dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt" style="color:#96a2b2"></i> &thinsp;Logout</a>
                                </div>
                            </div>
                        </div>


                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right float-right">
                            <li class="nav-item navbar-right">
                                <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Login" style="padding-left:150px;color:white"> Sign In | Register </a>
                            </li>
                        </ul>
                    }
                    </>
                </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            <div id="mySidenav" class="sidenav">
                <div class="row">
                    <div class="col" style="align-content: start">
                        <a asp-controller="Home" asp-action="Index"><img src="/images/logogray.png" alt="Wordsmith Warehouse" style="padding-left: 5px; margin-bottom: 60px; width: 160px; height: 55px"> </a>
                    </div>
                    <div class="col" style="align-content: end">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    </div>
                </div>

                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="ManageUsers">
                    Users<i class="fas fa-users" style="color: #ffffff; float: right; padding-top: 6px"></i>
                </a>
                <hr />
                <a class="nav-link" asp-area="" asp-controller="Books" asp-action="Index">
                    Books<i class="fas fa-book" style="color: #ffffff; float: right; padding-top: 6px"></i>
                </a>
                <hr />
                <a class="nav-link" asp-area="" asp-controller="Tags" asp-action="Index">
                    Tags<i class="fas fa-tags" style="color: #ffffff; float: right; padding-top: 6px"></i>
                </a>
                <hr />
                <a class="nav-link" asp-area="" asp-controller="Authors" asp-action="Index">
                    Authors<i class="fas fa-feather-alt" style="color: #ffffff; float: right; padding-top: 6px"></i>
                </a>
                <hr />
                <a class="nav-link" asp-area="" asp-controller="Libraries" asp-action="Index">
                    Libraries<i class="fas fa-landmark" style="color: #ffffff; float: right; padding-top: 6px"></i>
                </a>
                <hr />
                <a class="nav-link" asp-area="" asp-controller="BookReservations" asp-action="Index">
                    Reservations<i class="fas fa-exchange-alt" style="color: #ffffff; float: right; padding-top: 6px"></i>
                </a>
                <hr />
                <a class="nav-link" asp-area="" asp-controller="Leases" asp-action="Index">
                    Leases<i class="fas fa-book-reader" style="color: #ffffff; float: right; padding-top: 6px"></i>
                </a>
                <div class="row" style="bottom:0; position:absolute; margin:auto">
                    <span class="align-text-bottom" style="color: white;" id="datetime"></span>
                    <p style="color:white; margin: 0 !important;">&emsp;&emsp;&emsp; v1.0.0</p>
                </div>
            </div>
            <div id="main">
                @RenderBody()
                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                {
                    <button onclick="openNav()" class="menuButton" style="background-color: #96a2b2; outline:0;">
                        <i class="fas fa-arrow-right fa-3x" style="color: white"></i>
                    </button>
                }
            </div>
        </main>
    </div>
    <footer class="footer">
        <div style="padding-left: 15px">
            <div class="row" style="max-width:100%">
                <div class="col-7" style="padding-left:20px">
                    <h6 style="padding-top:7px">About&#9874</h6>
                    <p>
                        Welcome to Wordsmith Warehouse &ndash; Your Online Literary Haven!
                    </p>
                    <p>
                        Immerse yourself in the boundless world of words at Wordsmith Warehouse, where pages come alive and stories never end. As an enchanting online library, we house a treasure trove of literary gems that span genres, eras, and imaginations. Whether you seek the rhythmic prose of classic poets, the pulse-pounding thrill of gripping novels, or the profound wisdom of timeless essays, our virtual shelves hold something special for every kind of reader.
                    </p>
                </div>
                <div class="col" style="padding-top: 20px">
                    <h6>Categories</h6>
                    <ul class="footer-links" style="color: white">
                        <li><a href="">Best Sellers</a></li>
                        <li><a href="">Classics</a></li>
                        <li><a href="">New Releases</a></li>
                    </ul>
                </div>
                <div class="col" style="padding-top: 20px">
                    <h6>Quick Links</h6>
                    <ul class="footer-links" style="color: white">
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="row" style="max-width:100%">
                <div class="col">
                    <p class="copyright-text">
                        Copyright &copy; 2023 All Rights Reserved by
                        <a href="#">Wordsmith Warehouse</a>.
                    </p>
                </div>
                <div class="col row justify-content-center">
                    <p style="padding-top:9px">Developers:</p>
                    <div class="footer-buttons">
                        <div>
                            <a href="https://github.com/DuarteMurat" class="github-button" target="_blank">
                                &thinsp; Duarte Marques
                                <i class="fab fa-github fa-2x" style="color: #ffffff;"></i>
                            </a>

                            <a href="https://github.com/brunoferreira03" class="github-button" target="_blank">
                                Bruno Ferreira
                                <i class="fab fa-github fa-2x" style="color: #ffffff;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

        function updateDateTime() {

            const now = new Date();

            const currentDateTime = now.toLocaleString();

            document.querySelector('#datetime').textContent = currentDateTime;
        }

        setInterval(updateDateTime, 1000);
    </script>
</body>
</html>
