<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wordsmith Warehouse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white" style="padding-top:0px; padding-bottom:0px;">
            <div class="container-fluid">
                <div class="col-2">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="padding-top:30px">
                        <img src="/images/logo.png" alt="Wordsmith Warehouse" width="150" height="50">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-7">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                        <ul class="navbar-nav flex-grow-0">
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <div class="col-1">
                    <ul class="navbar-nav flex-grow-0">
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-dark " asp-area="" asp-controller="Books" asp-action="Index">Manage Books</a>
                                        <a class="nav-link text-dark " asp-area="" asp-controller="Tags" asp-action="Index">Manage Tags</a>
                                        <a class="nav-link text-dark " asp-area="" asp-controller="Authors" asp-action="Index">Manage Authors</a>
                                        <a class="nav-link text-dark " asp-area="" asp-controller="Libraries" asp-action="Index">Manage Locations</a>
                                        <a class="nav-link text-dark " asp-area="" asp-controller="BookReservations" asp-action="Index">Create Reservations</a>
                                        <a class="nav-link text-dark " asp-area="" asp-controller="Books" asp-action="SearchBooks">Search Books</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                    
                </div>
                <div class="col-2">
                    <div class="navbar-collapse collapse justify-content-end">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <ul class="navbar-nav list-group-horizontal">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>

                            </ul>
                        }
                        else
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item navbar-right">
                                    <a class="nav-link text-dark " asp-area="" asp-controller="Account" asp-action="Login" style="padding-left:150px;"> Sign In | Register </a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom" style="padding-top:0px">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/Title Logo 2.png" alt="Wordsmith Warehouse" height="60" width="650">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer footer container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About&#9874</h6>
                    <p class="text-justify">
                    <p>Welcome to Wordsmith Warehouse &ndash; Your Online Literary Haven!</p>
                    <p>
                    Immerse yourself in the boundless world of words at Wordsmith Warehouse, where pages come alive and stories never end. As an enchanting online library, we house a treasure trove of literary gems that span genres, eras, and imaginations. Whether you seek the rhythmic prose of classic poets, the pulse-pounding thrill of gripping novels, or the profound wisdom of timeless essays, our virtual shelves hold something special for every kind of reader.
                    </p>
                </div>

                <div class="col">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="">Best Sellers</a></li>
                        <li><a href="">Classics</a></li>
                        <li><a href="">New Releases</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2023 All Rights Reserved by
                        <a href="#">Wordsmith Warehouse</a>.
                    </p>
                </div>
                
                <div class="footer-buttons">
                    <a href="https://github.com/DuarteMurat" class="github-button" target="_blank">
                        <img src="/images./github-logo.png" alt="GitHub Logo">
                    </a>
                </div>
                <div class="footer-buttons">
                    <a href="https://github.com/brunoferreira03" class="github-button" target="_blank">
                        <img src="/images./github-logo.png" alt="GitHub Logo">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
