@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-center" style="border-right:inset">
            <br />
            <br />
            <h1>About us</h1>
            <br />
            <br />
            <br />
            <div>
                <b>
                    Welcome to Wordsmith Warehouse – Your Online Literary Haven!
                </b>
                <br />
                <br />
                <p class="text-justify">
                    Immerse yourself in the boundless world of words at Wordsmith Warehouse, where pages come alive and stories never end.
                    As an enchanting online library, we house a treasure trove of literary gems that span genres, eras, and imaginations.
                    Whether you seek the rhythmic prose of classic poets, the pulse-pounding thrill of gripping novels, or the profound wisdom of timeless essays, our virtual shelves hold something special for every kind of reader.
                    At Wordsmith Warehouse, we believe in the power of words to inspire, educate, and transport.
                </p>
                <p class="text-justify">
                    Our curated collection is meticulously assembled to cater to both voracious readers and those embarking on a literary journey.
                    Lose yourself in captivating narratives, broaden your horizons with thought-provoking essays, and savor the mellifluous verses that have shaped cultures and touched hearts throughout history.
                    Our mission is to provide you with easy access to literary excellence.
                    Whether you're a student seeking scholarly resources, an avid reader yearning for literary escapes, or a wordsmith in the making, our library is your gateway to a world of imagination and knowledge.
                    Join us in celebrating the written word. Explore, learn, and indulge in the magic that only a library like Wordsmith Warehouse can offer.

                </p>
                <p>
                    Happy reading!
                </p>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div>
                <h1 class="text-center">Developers</h1>
                <br />
                <br />
                <div class="github-card row" data-github="DuarteMurat" data-width="400" data-height="" data-theme="default"></div>
                <br />
                <br />
                <br />
                <div class="github-card row" data-github="brunoferreira03" data-width="400" data-height="" data-theme="default"></div>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>