@model FrontPageViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div id="carouselExampleIndicators" class="carousel slide row" data-ride="carousel" style="max-height:200px; max-width:1500px; margin:0 auto;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="">
            <div class="carousel-item active align-items-center">
                <img src="/images/Banners/test banner 1.jpg" class="d-block w-50 h-50" alt="...">
            </div>
            <div class="carousel-item align-items-center">
                <img src="/images/Banners/test banner 2.jpg" class="d-block w-50 h-50" alt="...">
            </div>
            <div class="carousel-item align-items-center">
                <img src="/images/Banners/test banner 3.jpg" class="d-block w-50 h-50" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>

    <hr />
    <h1 class="text-center"> Best Sellers!</h1>
    
    <div class="row justify-content-center" style="">
        
        <div style="">
            <partial name="_FrontPageBookCard" />
        </div>
    </div>
    <hr/>
</div>
